/* product.component.css */

.product-card {
  width: 300px; /* Ancho del card */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: box-shadow 0.3s ease; /* Transición suave de la sombra */
}

.product-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el ratón */
}

.product-header {
  padding: 16px;
  background-color: #f0f0f0; /* Color de fondo del encabezado */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
}

.product-content {
  padding: 16px;
}

.product-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.product-description {
  margin-top: 10px;
}

.product-actions {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f0f0f0; /* Color de fondo de las acciones */
}
